/* Your CSS styles go here */
.signup-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #27ae60;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #219a52;
}

a {
    text-decoration: none;
    color: #27ae60;
}

a:hover {
    color: #219a52;
}
